*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-sarabun);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background: rgb(0, 28, 64);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
}

.app-sidebar__toggle {
    padding: 10px;
    font-family: fontAwesome;
    color: white;
    line-height: 2.4;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    height: 30px;
    line-height: 15px;
    margin-top: 7px;
    border-radius: .357rem;
}

.app-sidebar__toggle:before {
    content: "\f009";
    font-size: 15px;
}

.app-nav {
    display: flex;
    justify-content: center;
    text-align: right;
}

.app-nav h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 210px;
}

.app-nav__item {
    display: block;
    position: absolute;
    right: 0;
    line-height: 0px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    background-color: yellow;
    padding: 10px;
    border-radius: 15px;
}

.app-nav__item:hover {
    background-color: #00ff44;
}

.rows a {
    text-decoration: none;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    overflow: auto;
    background: rgb(0, 28, 64);
}

.app-sidebar__user {
    display: block;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
}

.app-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.app-menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: .375rem;
    margin-bottom: 10px;
    padding: 15px 15px;
    font-size: 1.08em;
    border-left: 0px;
    box-shadow: none;
    color: white;
    border: 1px solid transparent;
    -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
    transition: border-left-color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
}

.app-menu__item.active,
.app-menu__item:hover,
.app-menu__item:focus {
    background: #c6defd;
    text-decoration: none;
    color: red;
    box-shadow: none;
    border: 1px solid rgb(22 22 72);
    font-weight: bold;
}

.app-menu__icon {
    font-size: 23px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 40px;
}

.app-menu {
    padding: 5px;
}

.list-unstyled,
.app-nav,
.app-menu,
.treeview-menu {
    padding-left: 0;
    list-style: none;
}

.app-content {
    padding: 50px;
    background-color: #f5f5f5;
    -webkit-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
    margin-top: 50px;
    margin-left: 240px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.app-breadcrumb {
    margin-bottom: 0;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0;
    text-align: left;
    padding: 0;
    background-color: transparent;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.widget-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
    color: #FFF;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.widget-small .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 85px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px 0 0 2px;
    font-size: 2.5rem;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.widget-small .info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
    -ms-flex-item-align: center;
    align-self: center;
}

.widget-small .info h4 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;
    color: #d20000;
    font-size: 15px;
}

.widget-small .info p {
    margin: 0;
    font-size: 16px;
}

.widget-small.primary {
    background-color: rgb(0, 28, 64);
}

.widget-small.primary.coloured-icon {
    background-color: #fff;
    color: #2a2a2a;
    border-radius: .375rem;
    padding: 10px;
}

.widget-small.primary.coloured-icon .icon {
    background-color: #b9ffd3;
    color: #22ad56;
    border-radius: .375rem;
}

.widget-small.info {
    background-color: #17a2b8;
}

.widget-small.info.coloured-icon {
    background-color: #fff;
    color: #2a2a2a;
    border-radius: .375rem;
    padding: 10px;
}

.widget-small.info.coloured-icon .icon {
    background-color: #adcbf3;
    color: #1d5aab;
    border-radius: .375rem;
}

.widget-small.warning {
    background-color: #ffc107;
}

.widget-small.warning.coloured-icon {
    background-color: #fff;
    color: #2a2a2a;
    border-radius: .375rem;
    padding: 10px;
}

.widget-small.warning.coloured-icon .icon {
    background-color: #fde1c3;
    color: #ff8b07;
    border-radius: .375rem;
}

.widget-small.danger {
    background-color: #dc3545;
}

.widget-small.danger.coloured-icon {
    background-color: #fff;
    color: #2a2a2a;
    border-radius: .375rem;
    padding: 10px;
}

.widget-small.danger.coloured-icon .icon {
    background-color: #f9baba;
    color: #de2222;
    border-radius: .375rem;
}

.info-tong {
    font-size: 12px !important;
    margin-top: 5px !important;
    border-top: 1px dashed #e8e8e8;
    padding-top: 10px !important;
}

.app-title {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #FFF;
    border-radius: .375rem;
    padding: 10px 30px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    border-left: 6px solid #FFD43B;
    margin-bottom: 20px;
}

.app-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.app-title p {
    margin-bottom: 0;
    font-style: italic;
}

.tile {
    position: relative;
    background: #ffffff;
    border-radius: .375rem;
    padding: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tile .tile-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    /* text-align: center; */
    border-bottom: 2px solid #FFD43B;
    padding-bottom: 10px;
    /* border-left: 3px solid black; */
    padding-left: 5px;
    color: black;
}

.form-group {
    margin-bottom: 1rem;
}

.control-label {
    font-weight: 600;
    color: black;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background-color: #f1f1f1;
    background-clip: padding-box;
    height: 45px;
    border: 1px solid #dadada;
    border-radius: .357rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin-top: 10px;
}

.form-control_1 {
    font-size: 15px;
    height: 30px;
    font-weight: bold;
    margin-left: 15px;
    color: rgb(0, 0, 0);
    background-color: #f1f1f1;
    border: 1px solid #dadada;
    border-radius: .357rem;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: .357rem;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-save {
    background-color: rgb(166 236 171);
    color: rgb(1 123 10);
    /* width: 100px; */
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-cancel {
    background-color: rgb(255 197 197);
    color: rgb(190, 40, 40);
    /* width: 100px; */
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.80rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #FFF;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.btn-primary {
    color: rgb(245 157 57);
    background-color: rgb(251 226 197);
    border-radius: .357rem;
    border: none;
    font-weight: 600;
}

.trash {
    background: #f7c3c2;
    border: none;
    color: #de0400;
    cursor: pointer;
}

.edit {
    cursor: pointer;
}

.thongbao {
    color: red;
    font-weight: bold;
}

.app-menu__item:focus {
    background-color: red !important;
    color: #fff;
}

.conten_admin {
    text-align: center;
}

.app-content_admin {
    margin-top: 200px;
    margin-left: 240px;
    font-size: 20px;
}

.app-content_admin a {
    text-decoration: none;
}

.app-content_admin h3 {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.app-content_admin h4 {
    color: rgb(72, 0, 255);
    font-size: 25px;
}

.app-content_admin p {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.app-content_admin strong {
    color: red;
    padding: 8px;
}

.app-content_admin strong:hover {
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 15px;
}

.image_homes img {
    width: 200px;
    margin-top: 10px;
}

.app-content_footer {
    position: absolute;
    text-align: center;
    font-size: 20px;
    left: 50%;
    transform: translate(-30%);
    bottom: 0;
}

.sivers strong {
    color: #000000;
}

.chart {
    margin-left: 300px;
}